/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../../app/stylesheets/screen.scss */
body {
  margin: 0;
  font-family: Calibri, Helvetica Neue, Tahoma;
  background-color: #2966b8;
}
/* line 15, ../../app/stylesheets/screen.scss */
body header {
  min-height: 42px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #2966b8));
  background-image: -webkit-linear-gradient(#808080, #2966b8);
  background-image: -moz-linear-gradient(#808080, #2966b8);
  background-image: -o-linear-gradient(#808080, #2966b8);
  background-image: -ms-linear-gradient(#808080, #2966b8);
  background-image: linear-gradient(#808080, #2966b8);
}
/* line 18, ../../app/stylesheets/screen.scss */
body header img {
  display: inline-block;
  float: left;
}
/* line 23, ../../app/stylesheets/screen.scss */
body footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2966b8), color-stop(100%, #808080));
  background-image: -webkit-linear-gradient(#2966b8, #808080);
  background-image: -moz-linear-gradient(#2966b8, #808080);
  background-image: -o-linear-gradient(#2966b8, #808080);
  background-image: -ms-linear-gradient(#2966b8, #808080);
  background-image: linear-gradient(#2966b8, #808080);
}
/* line 26, ../../app/stylesheets/screen.scss */
body .button {
  float: right;
  margin: 5px 5px 0 0;
  display: inline-block;
  padding: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2966b8), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#2966b8, #000000);
  background-image: -moz-linear-gradient(#2966b8, #000000);
  background-image: -o-linear-gradient(#2966b8, #000000);
  background-image: -ms-linear-gradient(#2966b8, #000000);
  background-image: linear-gradient(#2966b8, #000000);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  border: 1px gray inset;
}
/* line 31, ../../app/stylesheets/screen.scss */
body .button a {
  color: white;
  text-decoration: none;
}
/* line 34, ../../app/stylesheets/screen.scss */
body .button a:hover {
  color: silver;
}
/* line 42, ../../app/stylesheets/screen.scss */
body section.content {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #407fd4));
  background-image: -webkit-linear-gradient(#ffffff, #407fd4);
  background-image: -moz-linear-gradient(#ffffff, #407fd4);
  background-image: -o-linear-gradient(#ffffff, #407fd4);
  background-image: -ms-linear-gradient(#ffffff, #407fd4);
  background-image: linear-gradient(#ffffff, #407fd4);
  margin: 15px;
  padding: 10px;
  min-height: 400px;
  border: 1px outset #999;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 43, ../../app/stylesheets/screen.scss */
body section.content .page {
  clear: both;
}
/* line 53, ../../app/stylesheets/screen.scss */
body section.content h2 {
  margin-top: 0;
  display: inline-block;
  font-size: 1.7em;
}
/* line 58, ../../app/stylesheets/screen.scss */
body section.content h2.output {
  font-size: 2em;
}
/* line 61, ../../app/stylesheets/screen.scss */
body section.content .actions {
  float: right;
  display: inline-block;
}
/* line 64, ../../app/stylesheets/screen.scss */
body section.content .actions a {
  padding: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2966b8), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#2966b8, #000000);
  background-image: -moz-linear-gradient(#2966b8, #000000);
  background-image: -o-linear-gradient(#2966b8, #000000);
  background-image: -ms-linear-gradient(#2966b8, #000000);
  background-image: linear-gradient(#2966b8, #000000);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  border: 1px gray inset;
  display: inline-block;
  text-decoration: none;
}
/* line 71, ../../app/stylesheets/screen.scss */
body section.content .actions a:link, body section.content .actions a:visited {
  color: white;
}
/* line 74, ../../app/stylesheets/screen.scss */
body section.content .actions a:hover {
  color: silver;
}
/* line 80, ../../app/stylesheets/screen.scss */
body .jumpers {
  margin-top: 25px;
}
/* line 82, ../../app/stylesheets/screen.scss */
body .jumpers ul#jumpers li {
  float: left;
  margin: 5px;
  display: inline-block;
  list-style-type: none;
  border: 1px gray inset;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #e6effa), color-stop(100%, #93b7e7));
  background-image: -webkit-radial-gradient(50px 50%, #e6effa, #93b7e7);
  background-image: -moz-radial-gradient(50px 50%, #e6effa, #93b7e7);
  background-image: -o-radial-gradient(50px 50%, #e6effa, #93b7e7);
  background-image: -ms-radial-gradient(50px 50%, #e6effa, #93b7e7);
  background-image: radial-gradient(50px 50%, #e6effa, #93b7e7);
}
/* line 91, ../../app/stylesheets/screen.scss */
body .jumpers ul#jumpers li .jumper {
  width: 210px;
  height: 170px;
}
/* line 94, ../../app/stylesheets/screen.scss */
body .jumpers ul#jumpers li .jumper textarea {
  width: 180px;
  height: 110px;
}
/* line 99, ../../app/stylesheets/screen.scss */
body .jumpers ul#jumpers li .jumper .content input {
  width: 140px;
}
/* line 102, ../../app/stylesheets/screen.scss */
body .jumpers ul#jumpers li .jumper .content input, body .jumpers ul#jumpers li .jumper .content a {
  display: inline-block;
}
/* line 109, ../../app/stylesheets/screen.scss */
body .footer {
  clear: both;
}
/* line 112, ../../app/stylesheets/screen.scss */
body .submit, body .input {
  display: inline-block;
}
/* line 115, ../../app/stylesheets/screen.scss */
body .loading {
  display: none;
}
/* line 118, ../../app/stylesheets/screen.scss */
body .created {
  margin-bottom: 20px;
}
/* line 121, ../../app/stylesheets/screen.scss */
body .page_title {
  display: inline-block;
  vertical-align: bottom;
  color: white;
  font-size: 1.3em;
  top: 25px;
  left: 315px;
  position: absolute;
}
