/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/gradient";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

body {
    margin:0;
    font-family: Calibri, Helvetica Neue, Tahoma;
    $color: #2966B8;
    background-color: $color;
    header {
        min-height: 42px;
        @include background-image(linear-gradient(color-stops(gray, $color)));
        img {
            display: inline-block;
            float: left;
        }
    }
    footer {
       @include background-image(linear-gradient(color-stops($color, gray)));
    }
    .button {
        float: right;
        margin: 5px 5px 0 0;
        display: inline-block;
        padding: 5px;
        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: silver;
          }
        }
        @include background-image(linear-gradient(color-stops($color, black)));
        @include border-radius(4px, 4px);
        border: 1px gray inset;
    }
    section.content {
       .page {
              clear: both;
       }
       @include background-image(linear-gradient(color-stops(white, lighten($color, 10%))));
       margin: 15px;
       padding: 10px;
       min-height: 400px;
       border: 1px outset #999;
       @include border-radius(10px);
       @include single-box-shadow;
       h2 {
          margin-top: 0;
          display: inline-block;
          font-size: 1.7em;
       }
       h2.output {
        font-size: 2em;
       }
       .actions {
           float: right;
           display: inline-block;
           a {
               padding: 5px;
               @include background-image(linear-gradient(color-stops($color, black)));
               @include border-radius(4px, 4px);
               border: 1px gray inset;
               display: inline-block;
               text-decoration: none;
               &:link, &:visited {
                   color: white;
               }
               &:hover {
                    color: silver;
               }
           }
       }
    }
    .jumpers {
        margin-top: 25px;
        ul#jumpers li {
            float: left;
            margin: 5px;
            display: inline-block;
            list-style-type: none;
            border: 1px gray inset;
            @include border-radius(4px, 4px);
            @include background-image(radial-gradient(color-stops(lighten($color, 50%), lighten($color, 30%)), 50px 50%));

            .jumper {
                width: 210px;
                height: 170px;
                textarea {
                    width: 180px;
                    height: 110px;
                }
                .content {
                    input {
                        width: 140px;
                    }
                    input, a {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .footer {
        clear: both;
    }
    .submit, .input {
        display: inline-block;
    }
    .loading {
        display: none;
    }
    .created {
        margin-bottom: 20px;
    }
    .page_title {
        display: inline-block;
        vertical-align: bottom;
        color: white;
        font-size: 1.5em;
        top: 25px;
        left: 315px;
        position: absolute;
    }
}